<link rel="import" href="../bower_components/polymer/polymer.html" />

<dom-module id="bastion-receive">
	<style>
		paper-toolbar {
			background-color: #0074D9 !important;
			/* Compensates for default 8px margin around <body> */
			margin-top: -8px;
			margin-left: -8px;
			margin-right: -8px;
		}
		.list {
			padding: 12px 18px;
			background-color: white;
			display: block;
			margin: 24px auto;
			margin-left: 100px;
			margin-right: 100px;
			@apply(--shadow-elevation-2dp);
		}
		#actions {
			text-align: center;
			margin-bottom: 24px;
		}
		#actions paper-button {
			text-transform: none;
			font-weight: normal !important;
			margin-top: 5px;
		}
		#actions paper-button ::content paper-material {
			font-weight: normal !important;
		}
		#actions paper-button[primary] {
			color: #0074D9;
		}
		#actions paper-button[disabled] {
			color: #a8a8a8;
		}
		#actions paper-button[danger] {
			color: var(--paper-red-500);
			--paper-button-flat-focus-color: var(--paper-red-50);
		}
		h4 {
			margin-bottom: 0;
			margin-top: 10px;
		}
		.list paper-radio-group, .list paper-checkbox {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#data {
			display: inline-block;
			width: calc(100% - 45px);
		}
		#detached {
			margin: 15px 0;
		}
	</style>
	
	<template>
		<paper-toolbar>
			<paper-icon-button icon="arrow-back" style="margin-right: 10px;" on-tap="cancel"></paper-icon-button>
			<span class="title">Decrypt or verify</span>
		</paper-toolbar>
		
		<div class="content">
			
			<div class="list">
				<h4>Input</h4>
				<paper-textarea id="data" label="Encrypted message or signature" on-input="computeAction"></paper-textarea>
				<paper-icon-button icon="file-upload" on-tap="uploadData"></paper-icon-button>
				<paper-checkbox id="detached">Input is a detached signature</paper-checkbox>
			</div>
			
			<div id="actions">
				<paper-radio-group selected="display" id="output-action">
					<paper-radio-button name="display">Display output</paper-radio-button>
					<paper-radio-button name="copy">Copy output to clipboard</paper-radio-button>
					<paper-radio-button name="save">Save output to file</paper-radio-button>
				</paper-radio-group>
				<br />
				<paper-button primary on-tap="decrypt" disabled>Decrypt or verify</paper-button>
				<paper-button danger on-tap="cancel">Cancel</paper-button>
			</div>
		</div>

		<paper-toast id="message-toast" text="Something went wrong"></paper-toast>
	</template>
	
	<script>
		Polymer({
			is: "bastion-receive",
			ready: function() {
				this.decrypting = false;
				this.asp = new kbpgp.ASP({
					progress_hook: function (info) {
						console.log("progress...", info);
					}
				});
			},
			refresh: function() {
				this.keys = window.keys;
			},
			showMessage: function (message) {
				this.toggleClass("recalculate", true, this.$["message-toast"]);
				setTimeout((function() {
					this.toggleClass("recalculate", false, this.$["message-toast"]);
					this.$["message-toast"].text = message;
					this.$["message-toast"].show();
				}).bind(this), 10);
			},
			cancel: function() {
				if (this.decrypting) {
					this.asp.canceler().cancel();
					this.decrypting = false;
				}
				this.computeAction();
				// Scroll to top of content div after the animation
				var divToScroll = this.$$("div.content");
				setTimeout(function () {
					divToScroll.scrollTop = 0;
				}, 500);
				window.bastionWrapper.goBack();
			},
			uploadData: function() {
				
			},
			computeAction: function() {
				this.toggleAttribute("disabled", !this.$.data.value || this.decrypting, this.$$("paper-button[primary]"));
			}
		});
	</script>
</dom-module>