<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html" />
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../bower_components/paper-button/paper-button.html" />
<link rel="import" href="../bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html" />
<link rel="stylesheet" href="../bower_components/sweetalert/dist/sweetalert.css" />
<script src="../bower_components/sweetalert/dist/sweetalert.min.js"></script>

<dom-module id="bastion-key">
	<style>
		paper-toolbar {
			background-color: #0074D9 !important;
			/* Compensates for default 8px margin around <body> */
			margin-top: -8px;
			margin-left: -8px;
			margin-right: -8px;
		}
		paper-spinner {
			width: 38px;
			height: 38px;
			top: 100px;
		}
	</style>
	
	<template>
		<paper-toolbar>
			<paper-icon-button icon="arrow-back" style="margin-right: 10px;" on-tap="goBack"></paper-icon-button>
			<span class="title">Key</span>
		</paper-toolbar>
		<div style="display:flex;justify-content:center;align-items:center;">
			<paper-spinner alt="Loading key" active></paper-spinner>
		</div>
	</template>
	
	<script>
		Polymer({
			is: "bastion-key",
			goBack: function() {
				window.bastionWrapper.goToMain();
			},
			spinner: function (value) {
				this.toggleAttribute("active", !!value, this.$$("paper-spinner"));
			},
			loadKey: function(keyToImport) {
				kbpgp.KeyManager.import_from_armored_pgp({
					armored: keyToImport
				}, (function(err, importedKey) {
					if (err) {
						console.error(err);
						swal("Oops!", "An error occurred while opening that key", "error");
						return;
					}
					var info = {
						"key": {
							"type": undefined,
							"size": 0
						},
						"fingerprint": {
							"pretty": importedKey.get_fp2_formatted(),
							"array": importedKey.get_fp2_formatted().split(" "),
							"raw": importedKey.get_pgp_fingerprint_str()
						},
						"userids": importedKey.get_userids()
					};
					// RSA and ECC keys have different properties under their public key info
					try {
						info.key.size = importedKey.primary.key.pub.n.toHex().length * 4;
						info.key.type = "rsa";
					}
					catch (e) {
						info.key.size = importedKey.primary.key.pub.R.x.toHex().length * 4;
						info.key.type = "ecc";
					}
					// The formatted fingerprint has 2 spaces in the middle which confuses .split(" ")
					for (var i = 0; i < info.fingerprint.array.length; i++) {
						if (info.fingerprint.array[i] == "") {
							info.fingerprint.array.splice(i, 1);
						}
					}
					info.userids = info.userids.map(function (userid) {
						return userid.components;
					});
					this.selectedKeyInfo = info;
					this.spinner(false);
					console.log(info);
				}).bind(this));
			}
		});
	</script>
</dom-module>