<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/paper-item/paper-item.html" />
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html" />
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html" />
<link rel="import" href="../bower_components/paper-button/paper-button.html" />
<link rel="import" href="../bower_components/paper-input/paper-textarea.html" />
<link rel="import" href="../bower_components/paper-input/paper-input.html" />
<link rel="import" href="../bower_components/paper-toast/paper-toast.html" />
<link rel="import" href="../bower_components/gold-email-input/gold-email-input.html" />
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html" />
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html" />
<link rel="import" href="../bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="../bower_components/neon-animation/neon-animations.html" />
<link rel="import" href="key-list.html" />
<link rel="stylesheet" href="../bower_components/sweetalert/dist/sweetalert.css" />
<script src="../bower_components/sweetalert/dist/sweetalert.min.js"></script>

<dom-module id="bastion-main">
	<style>
		paper-toolbar {
			background-color: #0074D9 !important;
			/* Compensates for default 8px margin around <body> */
			margin-top: -8px;
			margin-left: -8px;
			margin-right: -8px;
		}
		#add-key {
			width: 90%;
			max-height: 220px !important;
			height: 220px;
		}
		#generate-key {
			max-height: 452px !important;
			height: 452px;
			/*max-width: 565px;*/
		}
		#generate-key > * {
			margin: 0;
		}
		#generate-key > *:first-child {
			margin-top: 10px;
		}
		#generate-key > paper-input, #generate-key gold-email-input {
			margin-top: -18px;
			margin-bottom: 10px;
		}
		#generate-key > p {
			font-weight: bold;
		}
		#generate-key > #generate-status {
			font-weight: normal;
			text-align: center;
			font-size: 1.2em;
		}
		paper-dialog #key-area {
			margin-top: -10px;
			height: 96px;
  			overflow: auto;
		}
		#added-key {
			display: inline-block;
			width: calc(100% - 45px);
		}
		#add-key-upload {
			float: right;
			margin-top: 20px;
			color: #757575;
		}
	</style>
	<template>
		<paper-toolbar>
			<paper-icon-button icon="settings" style="margin-right: 10px;"></paper-icon-button>
			<span class="title">Bastion</span>
			<paper-icon-button icon="cloud-download"></paper-icon-button>
			<paper-icon-button icon="input" on-tap="showAddKey"></paper-icon-button>
			<paper-icon-button icon="add" on-tap="showGenerateKey"></paper-icon-button>
		</paper-toolbar>
		<key-list id="key-list"></key-list>
		<paper-dialog id="add-key" modal>
			<p>
				Enter a public or private key in the text area below to import it.
				<br />
				Public keys will be added to your contacts and private keys will be added to your keys.
			</p>
			<div id="key-area">
				<paper-textarea label="Public or private key" id="added-key"></paper-textarea>
				<paper-icon-button icon="file-upload" on-tap="showUploadKey"></paper-icon-button>
				<input type="file" style="display:none;" id="add-key-uploader" accept=".asc,.txt" />
			</div>
			<div class="buttons">
				<paper-button dialog-dismiss>Cancel</paper-button>
        		<paper-button dialog-confirm autofocus on-tap="addKey">OK</paper-button>
			</div>
		</paper-dialog>
		<paper-dialog id="generate-key" modal>
			<paper-input id="generate-info-name" label="You name"></paper-input>
			<gold-email-input id="generate-info-email" label="Your email" auto-validate></gold-email-input>
			<paper-input id="generate-info-password" label="A password to unlock this key" type="password"></paper-input>
			<p>Choose an algorithm</p>
			<paper-radio-group selected="rsa" id="generate-info-algorithm">
				<paper-radio-button name="rsa" on-tap="algorithmChangeRSA">RSA</paper-radio-button>
				<paper-radio-button name="ecc" on-tap="algorithmChangeECC">ECC (elliptic curve cryptography)</paper-radio-button>
			</paper-radio-group>
			<p>Choose an expiration time</p>
			<paper-radio-group selected="8" id="generate-info-expiration">
				<paper-radio-button name="1">1 year</paper-radio-button>
				<paper-radio-button name="2">2 years</paper-radio-button>
				<paper-radio-button name="4">4 years</paper-radio-button>
				<paper-radio-button name="8">8 years</paper-radio-button>
				<paper-radio-button name="never">Never</paper-radio-button>
			</paper-radio-group>
			<p>Choose a key strength</p>
			<paper-radio-group selected="2048" id="generate-info-keysize">
				<paper-radio-button name="1024" data-alt="256"><span>1024</span> bit (<span>not very secure</span>)</paper-radio-button>
				<paper-radio-button name="2048" data-alt="384"><span>2048</span> bit (<span>good security</span>)</paper-radio-button>
				<paper-radio-button name="4096" data-alt="521"><span>4096</span> bit (<span>overkill security</span>)</paper-radio-button>
			</paper-radio-group>
			<p id="generate-status">Press the generate button to generate a new PGP key pair</p>
			<div class="buttons">
				<paper-button dialog-dismiss on-tap="cancelGenerateKey">Cancel</paper-button>
        		<paper-button autofocus on-tap="generateKey" id="generate-button">Generate</paper-button>
			</div>
		</paper-dialog>
		<paper-toast id="message-toast" text="Something went wrong"></paper-toast>
	</template>
	<script>
		var kbpgp = require("kbpgp");
		var gui = require("nw.gui");
		var nedb = require("nedb");
		var path = require("path");
		var async = require("async");
		var fs = require("fs");
		Polymer({
			is: "bastion-main",
			ready: function() {
				// Start database
				this.db = new nedb({
					filename: path.join(gui.App.dataPath, "keys.db"),
					autoload: true
				});
				window.db = this.db;
				// Load available keys
				this.loadKeys(true);
			},
			loadKeys: function(firstLaunch) {
				async.parallel([
					(function (callback) {
						this.db.find({"owned": true}, callback);
					}).bind(this),
					(function (callback) {
						this.db.find({"owned": false}, callback);
					}).bind(this)
				], (function (err, results) {
					if (err) {
						console.error(err);
						swal("Oops!", "An error occurred while reading keys from the database", "error");
						return;
					}
					this.keys = {};
					this.keys.owned = results[0];
					this.keys.contacts = results[1];
					
					window.keys = this.keys;
					// Tell the key-list element that we've initialized the DB and loaded available keys
					this.$["key-list"].mainInitialized();
				}).bind(this));
			},
			showAddKey: function() {
				this.$["add-key"].open();
			},
			showGenerateKey: function() {
				this.$["generate-key"].open();
			},
			showUploadKey: function() {
				var chooser = this.$["add-key-uploader"];
				chooser.addEventListener("change", (function(e) {
					fs.readFile(e.target.value, "utf8", (function (err, keyData) {
						if (err) {
							console.error(err);
							swal("Oops!", "An error occurred while reading the selected file", "error");
							return;
						}
						e.target.value = "";
						this.importKey(keyData);
						this.$["add-key"].close();
					}).bind(this));
				}).bind(this), false);
				chooser.click();
			},
			addKey: function() {
				var key = this.$["added-key"].value;
				this.$["added-key"].value = "";
				this.importKey(key);
			},
			importKey: function(key, password) {
				var that = this;
				kbpgp.KeyManager.import_from_armored_pgp({
					armored: key
				}, function(err, importedKey) {
					if (err) {
						console.error(err);
						setTimeout(function () {
							swal("Oops!", "Unable to add public or private key", "error");
						}, 250);
						return;
					}
					var information = [];
					importedKey.userids.forEach(function(info) {
						information.push(info.components);
					});
					if (importedKey.has_pgp_private()) {
						// Personal key
						function privateExport() {
							// Fix for bug in kbpgp where the public key is not regenerated
							importedKey.armored_pgp_public = undefined;
							importedKey.export_pgp_public({}, function(err, publicKey) {
								db.insert({
									"owned": true,
									"info": information,
									"keys": {
										"private": key,
										"public": publicKey
									}
								}, function() {
									that.loadKeys();
								});
							});
						}
						if (importedKey.is_pgp_locked()) {
							// Need a password before public key can be exported
							if (password) {
								// From key generation dialog where password is known
								importedKey.unlock_pgp({
									passphrase: password
								}, function(err) {
									if (err) {
										console.error(err);
										swal("Oops!", "An error occurred while unlocking your key", "error");
										return;
									}
									password = null;
									privateExport();
								});
							}
							else {
								// Prompt for password
								swal({
									title: "Unlock your key",
									text: "The private key that you imported is locked. Please enter your passphrase to add it.",
									type: "input",
									showCancelButton: true,
									closeOnConfirm: false,
									inputPlaceholder: "Passphrase",
									inputType: "password"
								}, function(inputPassword) {
									if (inputPassword === false)
										return false;
									if (inputPassword === "") {
										swal.showInputError("Please enter your passphrase");
										return false;
									}
									importedKey.unlock_pgp({
										passphrase: inputPassword
									}, function(err) {
										swal.close();
										if (err) {
											console.error(err);
											setTimeout(function() {
												swal("Oops!", "An error occurred while unlocking your key. Your passphrase might be incorrect.", "error");
											}, 100);
											return;
										}
										password = null;
										privateExport();
									});
								});
							}
						}
						else {
							privateExport();
						}
					}
					else {
						// Contact's key
						db.insert({
							"owned": false,
							"info": information,
							"keys": {
								"private": null,
								"public": key
							}
						}, function() {
							that.loadKeys();
						});
					}
				});
			},
			algorithmChangeRSA: function() {
				var options = this.$["generate-info-keysize"].getElementsByTagName("paper-radio-button");
				for (var i = 0; i < options.length; i++) {
					var button = options[i];
					button.getElementsByTagName("span")[0].textContent = button.getAttribute("name");
					var label;
					switch (i) {
						case 0:
							label = "not very secure";
							break;
						case 1:
							label = "good security";
							break;
						case 2:
							label = "overkill security";
							break;
					}
					button.getElementsByTagName("span")[1].textContent = label;
				}
			},
			algorithmChangeECC: function() {
				var options = this.$["generate-info-keysize"].getElementsByTagName("paper-radio-button");
				for (var i = 0; i < options.length; i++) {
					var button = options[i];
					button.getElementsByTagName("span")[0].textContent = button.getAttribute("data-alt");
					var label;
					switch (i) {
						case 0:
							label = "good security";
							break;
						case 1:
							label = "better security";
							break;
						case 2:
							label = "overkill security";
							break;
					}
					button.getElementsByTagName("span")[1].textContent = label;
				}
			},
			generateKey: function() {
				// Check user input
				if (!this.$["generate-info-name"].value) {
					swal("Missing info!", "Please enter your name", "error");
					return;
				}
				if (!this.$["generate-info-email"].value) {
					swal("Missing info!", "Please enter your email", "error");
					return;
				}
				if (!this.$["generate-info-email"].validate()) {
					swal("Invalid email!", "Please enter a valid email", "error");
					return;
				}
				if (!this.$["generate-info-password"].value) {
					swal({
						title: "Proceed without a password?",
						text: "You haven't entered a password to protect this key pair. Anyone with access to your key file can trivially decrypt messages intended for you and impersonate you by signing any message they wish. Are you sure you still want to proceed without a password?",
						type: "warning",
						showCancelButton: true,
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "Yes, delete it!",
						closeOnConfirm: false
					}, proceed.bind(this));
				}
				proceed.bind(this)();
				var that = this;
				function proceed() {
				// Use params from user input
				var name = this.$["generate-info-name"].value;
				var email = " <" + this.$["generate-info-email"].value + ">";
				//var comments = ($('#comments').val() != "" ) ? " (" + $('#comments').val() + ")" : "";
				var bitlength = parseInt(this.$["generate-info-keysize"].selected, 10);
				var algorithm = this.$["generate-info-algorithm"].selected;
				var expire = parseInt(this.$["generate-info-expiration"].selected, 10);
				if (isNaN(expire)) {
					// "Never" selected
					expire = 0;
				}
				var password = this.$["generate-info-password"].value;
				
				// Set ECC flag
				var use_ecc = (algorithm === "ecc");
				if (use_ecc) {
					switch (bitlength) {
						case 1024:
							bitlength = 256;
							break;
						case 2048:
							bitlength = 384;
							break;
						case 4096:
							bitlength = 521;
							break;
					}
				}

				
				// Disable/update the action button
				this.$["generate-button"].setAttribute("disabled", "disabled");
				var previousStatus = this.$["generate-status"].textContent;
				
				// Create a progress hook
				var progressASP = new kbpgp.ASP({
					progress_hook: function(o) {
						var message = "";
						switch (o.what) {
							case "fermat":
							    message = "Hunting for a prime... " + o.p.toString().slice(-3);
							    break;
							case "mr":
							    message = "Confirming prime candidate " + ~~(100 * o.i / o.total) + "%";
							    break;
							case "found":
							    message = "Found a prime!";
							    break;
							default:
							    message = "" + o.what
						}
						that.$["generate-status"].textContent = message;
					}
				});
				this.generateASP = progressASP;
				
				var F = kbpgp["const"].openpgp;
				
				var opts = {
					asp: progressASP,
					userid: name /*+ comments*/ + email,
					ecc: use_ecc,
					primary: {
						nbits: bitlength,
						flags: F.certify_keys | F.sign_data | F.auth | F.encrypt_comm | F.encrypt_storage,
						expire_in: 0 // never expires
					},
					subkeys: [
						{
							nbits: bitlength,
							flags: F.sign_data,
							expire_in: 86400 * 365 * expire
						},
						{
							nbits: bitlength,
							flags: F.encrypt_comm | F.encrypt_storage,
							expire_in: 86400 * 365 * expire
						}
					]
				};
				var that = this;
				kbpgp.KeyManager.generate(opts, function(err, generatedKey) {
					that.generateASP = null;
					if (err && err.message !== "Aborted") {
						console.error(err);
						swal("Oops!", "An error occurred while generating your key", "error");
						return;
					}
					generatedKey.sign({}, function(err) {
						async.parallel([
							function(callback) {
								generatedKey.export_pgp_private({
							    	passphrase: password
							  	}, callback);
							},
							function(callback) {
								generatedKey.export_pgp_public({}, callback);
							}
						], (function(err, results) {
							if (err) {
								console.error(err);
								swal("Oops!", "An error occurred while exporting your key", "error");
								return;
							}
							var privateKey = results[0];
							var publicKey = results[1];
							this.importKey(privateKey, password);
							// Reset generation dialog
							this.$["generate-button"].removeAttribute("disabled");
							this.$["generate-status"].textContent = previousStatus;
							this.$["generate-info-name"].value = "";
							this.$["generate-info-email"].value = "";
							this.$["generate-info-password"].value = "";
							this.$["generate-key"].close();
							
							this.$["message-toast"].text = "Key generated successfully.";
							this.$["message-toast"].show();
						}).bind(that));
					});
				});
				}
			},
			generateASP: null,
			cancelGenerateKey: function() {
				if (this.generateASP) {
					this.generateASP.canceler().cancel();
					this.$["message-toast"].text = "Key generation canceled.";
					this.$["message-toast"].show();
				}
			}
		});
	</script>
</dom-module>
