<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/paper-item/paper-item.html" />
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html" />
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html" />
<link rel="import" href="../bower_components/paper-button/paper-button.html" />
<link rel="import" href="../bower_components/paper-input/paper-textarea.html" />
<link rel="import" href="../bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="../bower_components/neon-animation/neon-animations.html" />
<link rel="import" href="key-list.html" />

<dom-module id="bastion-main">
	<style>
		paper-toolbar {
			background-color: #0074D9 !important;
			/* Compensates for default 8px margin around <body> */
			margin-top: -8px;
			margin-left: -8px;
			margin-right: -8px;
		}
		paper-dialog {
			width: 90%;
			max-height: 200px !important;
			height: 200px;
		}
		paper-dialog #key-area {
			margin-top: -10px;
			height: 96px;
  			overflow: auto;
		}
	</style>
	<template>
		<paper-toolbar>
			<paper-icon-button icon="menu"></paper-icon-button>
			<span class="title">Bastion</span>
			<paper-icon-button icon="cloud-download"></paper-icon-button>
			<paper-icon-button icon="add" on-tap="showAddKey"></paper-icon-button>
		</paper-toolbar>
		<key-list id="key-list"></key-list>
		<paper-dialog id="add-key" modal>
			<p>Enter a public or private key in the text area below to import it</p>
			<div id="key-area">
				<paper-textarea label="Public or private key" id="added-key"></paper-textarea>
			</div>
			<div class="buttons">
				<paper-button dialog-dismiss>Cancel</paper-button>
        		<paper-button dialog-confirm autofocus on-tap="addKey">OK</paper-button>
			</div>
		</paper-dialog>
	</template>
	<script>
		var kbpgp = require("kbpgp");
		var gui = require("nw.gui");
		var nedb = require("nedb");
		var path = require("path");
		var async = require("async");
		Polymer({
			is: "bastion-main",
			ready: function() {
				// Start database
				this.db = new nedb({
					filename: path.join(gui.App.dataPath, "keys.db"),
					autoload: true
				});
				window.db = this.db;
				// Load available keys
				async.parallel([
					(function (callback) {
						this.db.find({"owned": true}, callback);
					}).bind(this),
					(function (callback) {
						this.db.find({"owned": false}, callback);
					}).bind(this)
				], (function (err, results) {
					if (err) {
						console.error(err);
						alert("An error occurred while reading keys from the database");
						return;
					}
					this.keys = {};
					this.keys.owned = results[0];
					this.keys.contacts = results[1];
					
					window.keys = this.keys;
					// Tell the key-list element that we've initialized the DB and loaded available keys
					this.$["key-list"].mainInitialized();
				}).bind(this));
				// this.keys = [
				// 	{title: "Ryan Petschek", email: "petschekr@gmail.com"},
				// 	{title: "Julien Gilli", email: "jgilli@fastmail.fm"}
				// ];
			},
			showAddKey: function() {
				this.$["add-key"].open();
			},
			addKey: function() {
				var key = this.$["added-key"].value;
				this.$["added-key"].value = "";
				kbpgp.KeyManager.import_from_armored_pgp({
					armored: key
				}, function(err, importedKey) {
					if (err) {
						setTimeout(function () {
							alert("Unable to add public or private key");							
						}, 250);
						return;
					}
					var information = [];
					importedKey.userids.forEach(function(info) {
						information.push(info.components);
					});
					if (importedKey.has_pgp_private()) {
						// Personal key
						importedKey.export_pgp_public({}, function(err, publicKey) {
							db.insert({
								"owned": true,
								"info": information,
								"keys": {
									"private": key,
									"public": publicKey
								}
							});
						});
					}
					else {
						// Contact's key
						db.insert({
							"owned": false,
							"info": information,
							"keys": {
								"private": null,
								"public": key
							}
						});
					}
				});
			}
		});
	</script>
</dom-module>
