<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html" />
<link rel="import" href="../bower_components/neon-animation/neon-animations.html" />
<link rel="import" href="../bower_components/neon-animation/neon-animatable.html" />
<link rel="import" href="../components/bastion-main.html" />
<link rel="import" href="../components/bastion-key.html" />
<link rel="import" href="../components/bastion-message.html" />

<dom-module id="bastion-wrapper">
	<style>
		:host {
			display: block;
		}
		neon-animated-pages {
			height: 100%;
		}
	</style>
	
	<template>
		<neon-animated-pages id="pages" class="flex" selected="0" entry-animation="[[entryAnimation]]" exit-animation="[[exitAnimation]]" on-neon-animation-finish="animationDone">
			<neon-animatable>
				<bastion-main></bastion-main>
			</neon-animatable>
			<neon-animatable>
				<bastion-key></bastion-key>
			</neon-animatable>
			<neon-animatable>
				<bastion-message></bastion-message>
			</neon-animatable>
		</neon-animated-pages>
	</template>
	
	<script>
		Polymer({
			is: "bastion-wrapper",
			ready: function() {
				window.bastionWrapper = this;
				this.history = [0];
			},
			goToPage: function(index, additionalInfo) {
				this.entryAnimation = "slide-from-right-animation";
				this.exitAnimation = "slide-left-animation";
				if (index === 1) {
					this.keyToImport = additionalInfo;
					this.$$("bastion-key").spinner(true);
				}
				if (index === 2) {
					this.$$("bastion-message").refresh(additionalInfo);
				}
				this.history.push(index);
				this.$.pages.selected = index;
			},
			goBack: function() {
				if (this.history.length <= 1)
					return;
				this.entryAnimation = "slide-from-left-animation";
				this.exitAnimation = "slide-right-animation";
				this.history.pop();
				this.$.pages.selected = this.history[this.history.length - 1];
			},
			animationDone: function() {
				if (this.$.pages.selected === 1) {
					this.$$("bastion-key").loadKey(this.keyToImport);
				}
			}
		});
	</script>
</dom-module>