<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/paper-item/paper-item.html" />
<link rel="import" href="../bower_components/paper-item/paper-item-body.html" />
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html" />
<link rel="stylesheet" href="../bower_components/sweetalert/dist/sweetalert.css" />
<script src="../bower_components/sweetalert/dist/sweetalert.min.js"></script>

<dom-module id="key-list">
	<style>
		paper-item-body {
			position: relative;
			padding-left: 16px;
			margin-left: -16px;
		}
		h1 {
			font-family: "Roboto";
			margin: 16px 16px 2px;
			font-size: 22px;
			border-bottom: 1px solid rgb(203, 203, 203);
			height: 32px;
		}
		paper-item small {
			position: relative;
			top: -1px;
		}
	</style>
	<template>
		<h1>Your keys</h1>
		<template is="dom-repeat" items="{{keys.owned}}">
			<paper-item>
				<paper-item-body two-line on-tap="itemClick">
					<template is="dom-if" if="[[!item.info.0.comment]]">
						<div>[[item.info.0.username]]</div>
					</template>
					<template is="dom-if" if="[[item.info.0.comment]]">
						<div><span>[[item.info.0.username]]</span><small>&nbsp;(<span>[[item.info.0.comment]]</span>)</small></div>
					</template>
					<div secondary>[[item.info.0.email]]</div>
					<paper-ripple></paper-ripple>
				</paper-item-body>
				<paper-icon-button icon="create" on-tap="useKey" id="[[item._id]]"></paper-icon-button>
			</paper-item>
		</template>
		<template is="dom-if" if="{{!keys.owned.length}}">
			<paper-item>
				<paper-item-body>
					<div><i>To generate or import a key, click the buttons at the upper right</i></div>
				</paper-item-body>
			</paper-item>
		</template>
		<h1>Contacts</h1>
		<template is="dom-repeat" items="{{keys.contacts}}">
			<paper-item>
				<paper-item-body two-line on-tap="itemClick">
					<template is="dom-if" if="[[!item.info.0.comment]]">
						<div>[[item.info.0.username]]</div>
					</template>
					<template is="dom-if" if="[[item.info.0.comment]]">
						<div><span>[[item.info.0.username]]</span><small>&nbsp;(<span>[[item.info.0.comment]]</span>)</small></div>
					</template>
					<div secondary>[[item.info.0.email]]</div>
					<paper-ripple></paper-ripple>
				</paper-item-body>
				<paper-icon-button icon="send" on-tap="useKey" id="[[item._id]]"></paper-icon-button>
			</paper-item>
		</template>
		<template is="dom-if" if="{{!keys.contacts.length}}">
			<paper-item>
				<paper-item-body>
					<div><i>You have no contacts yet</i></div>
				</paper-item-body>
			</paper-item>
		</template>
	</template>
	<script>
		var kbpgp = require("kbpgp");
		Polymer({
			is: "key-list",
			ready: function() {
				
			},
			mainInitialized: function() {
				// Load available keys
				this.keys = window.keys;
				function nameSort (a, b) {
					// Sort by name first
					if (a.info[0].username.toLowerCase() < b.info[0].username.toLowerCase()) return -1;
					if (a.info[0].username.toLowerCase() > b.info[0].username.toLowerCase()) return 1;
					// If equivalent, sort by email
					if (a.info[0].email.toLowerCase() < b.info[0].email.toLowerCase()) return -1;
					if (a.info[0].email.toLowerCase() > b.info[0].email.toLowerCase()) return 1;
					return 0;
				}
				this.keys.owned = this.keys.owned.sort(nameSort);
				this.keys.contacts = this.keys.contacts.sort(nameSort);
			},
			itemClick: function(e) {
				var item = e.model.item;
				var keyToImport = (!!item.keys.private) ? item.keys.private : item.keys.public;
				window.bastionWrapper.goToPage(1, keyToImport);
			},
			useKey: function(e) {
				window.bastionWrapper.goToPage(2, e.currentTarget.id);
			}
		});
	</script>
</dom-module>
